<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  {% extends "layout.html" %}
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Recette aléatoire</h3>
        <p>Description</p>
        <form action="/random" method="POST">
          <input class="btn btn-primary" type="submit" value="Aléatoire" />
        </form>
      </div>
      <div class="col">
        <h3>Chercher une recette</h3>
        <p>Description</p>
        <form action="/name" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nom de la recette" />
          </div>
          <input minlength="1" class="btn btn-primary" type="submit" value="Rechercher" />
        </form>
      </div>
    </div>
  </div>
  <div class="loader"></div>
  {% if error is defined %} 
  <div style="text-align:center" class="jumbotron">
    <h1> {{ error }} </h1>
  </div>
    {% endif %}

  <script>
    $(".loader").hide();
    $(".btn").click(function () {
      $(".loader").show();
    });
  </script>
  {% endblock %}
</body>
</html>
