<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Benjamin DUBUS">
<title>Interface de test</title>
<!-- Bring in Bootstrap CSS and theme CSS -->
<script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Reciprice</h1>
        <p>Interface de test de l'API</p> 
      </div>
    {% block content %}
    {% endblock %}
</div>
<!-- jQuery Version 1.11.0 -->
<script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>

